.au1 {
    font-weight: bold;
}
.au1-sub {
    color: rgb(157, 160, 160) !important;
    margin-top: 10px;
}
.au11 {
    font-weight: bold;
    
}
.auhr {
    width: 88%;
}
.au11-sub {
    color: rgb(157, 160, 160) !important;
    font-weight: normal !important;
    margin-top: 10px;
}
.au12 {
    font-weight: bold;
}
.au12-sub {
    color: rgb(157, 160, 160) !important;
    font-weight: normal;
    margin-top: 10px;
}
.au13 {
    font-weight: bold;
}
.au13-sub {
    color: rgb(157, 160, 160) !important;
    font-weight: normal;
    margin-top: 10px;
}




.au2 {
    font-weight: bold;
}
.au2-sub {
    color: rgb(157, 160, 160) !important;
    font-weight: normal;
    margin-top: 10px;
}
.au21 {
    font-weight: bold;
}
.au21-sub {
    color: rgb(157, 160, 160) !important;
    font-weight: normal;
    margin-top: 10px;
}
.au22 {
    font-weight: bold;
}
.au22-sub {
    color: rgb(157, 160, 160) !important;
    font-weight: normal;
    margin-top: 10px;
}
.au23 {
    font-weight: bold;
}
.au23-sub {
    color: rgb(157, 160, 160) !important;
    font-weight: normal;
    margin-top: 10px;
}