.hr2 {
    width: 77%;
}
.hr1 {
    width: 100%;
}
.hehr {
    width: 100%;
}
.shr {
    width: 88%;
}

.v1 {
    font-weight: bold;
}
.v1-sub {
    color: rgb(157, 160, 160) !important;
    font-weight: normal;
    margin-top: 10px;
}
.v11 {
    font-weight: bold;
    
}
.v11-sub {
    color: rgb(157, 160, 160) !important;
    font-weight: normal !important;
    margin-top: 10px;
}.v12 {
    font-weight: bold;
}
.v12-sub {
    color: rgb(157, 160, 160) !important;
    font-weight: normal;
    margin-top: 10px;
}


.v2 {
    font-weight: bold;
}
.v2-sub {
    color: rgb(157, 160, 160) !important;
    font-weight: normal;
    margin-top: 10px;
}
.v21 {
    font-weight: bold;
}
.v21-sub {
    color: rgb(157, 160, 160) !important;
    font-weight: normal;
    margin-top: 10px;
}.v22 {
    font-weight: bold;
}
.v22-sub {
    color: rgb(157, 160, 160) !important;
    font-weight: normal;
    margin-top: 10px;
}

