
.dash {
  margin-bottom: 50px;
  margin-top: 20px;
}
h6 {
  color: #5f5f61;
}
.head11{
  display: flex;
}
.head12 {
  display: flex;
}
.head13 {
  display: flex;
}
.button1{
  margin-left: 140px;
}
.button2{
  margin-left: 190px;
}
.button3{
  margin-left: 190px;
}
.button4{
  margin-left: 190px;
}
.but1{
  background-color: #66D6FF;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.but2 {
  margin-left: 22px;
  padding-left: 30px;
  padding-right: 30px;
}
.but3 {
  margin-left: 22px;
  padding-left: 30px;
  padding-right: 30px;
}
.but4 {
  margin-left: 22px;
  padding-left: 30px;
  padding-right: 30px;
}


.head21 {
  display: flex;
}
.head22 {
  display: flex;
}
.head23 {
  display: flex;
}
.head24 {
  display: flex;
}

.button5{
  margin-left: 120px;
}
.button6{
  margin-left: 250px;
}
.button7{
  margin-left: 250px;
}
.button8{
  margin-left: 250px;
}
.but5{
  background-color: #66D6FF;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.but6 {
  margin-left: 22px;
  padding-left: 30px;
  padding-right: 30px;
}
.but7 {
  margin-left: 22px;
  padding-left: 30px;
  padding-right: 30px;
}
.but8 {
  margin-left: 22px;
  padding-left: 30px;
  padding-right: 30px;
}


.right2 {
  margin-top: 80px;
}
.right4 {
  margin-top: 80px;
}

